@import "tailwindcss";

@theme {
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-lato);
  
  --color-brand-bg: #FAFAFA;
  --color-brand-black: #1A1A1A;
  --color-brand-stone: #D6D3D1;
}

@layer base {
  body {
    @apply font-sans bg-brand-bg text-brand-black antialiased selection:bg-brand-stone selection:text-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
