@import "tailwindcss";

@theme {
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-montserrat);
  
  --color-primary: #111111;
  --color-secondary: #C0C0C0;
  --color-accent: #8B5A2B;
  --color-glass: rgba(0, 0, 0, 0.4);
}

@layer base {
  body {
    @apply font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}